onlyBuiltDependencies[]=@firebase/util
onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=@swc/core
onlyBuiltDependencies[]=es5-ext
onlyBuiltDependencies[]=protobufjs
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=unrs-resolver
